@tailwind base;
@tailwind components;
@tailwind utilities;
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
.animate-[scroll_25s_linear_infinite] {
    animation: scroll 25s linear infinite;
    will-change: transform;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}